{% extends 'base/body.html' %}
{% block bodycolor %}wallpaper-login{% endblock %}
{% block body %}
<section class="section">
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="card z-depth-4 purple darken-4 white-text">
        <div class="card-content">
          <h1>storemg</h1>
          <p>¡Crea tu tienda virtual totalmente gratis y ordena tus vitrinas, sigue a las tiendas que mas te gusten obteniendo informaciòn de sus nuevos productos en cada momento!</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <div class="card z-depth-4">
        <div class="card-content">
          <!-- menu card-->
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a class="active grey-text text-darken-4" href="#login">Ingresar</a></li>
              <li class="tab"><a class="grey-text text-darken-4" href="#register">Registrarme</a></li>
            </ul>
          </div>
          <!-- menu card-->
          <!-- form to user login -->
          <div class="row">
            <div id="login">
              <br />
              <form action="{{ url('user:user_login') }}" method="POST">
                <div class="input-field col s12 container">
                  <i class="material-icons prefix">account_box</i>
                  <input type="text" id="username" name="username" placeholder="username or email" />
                </div>
                <div class="input-field col s12 container">
                  <i class="material-icons prefix">lock</i>
                  <input type="password" name="password" placeholder="password" />
                </div>
                <div class="input-field col s12 container">
                  <button type="submit" class="btn purple darken-4">Entrar</button>
                  <a href="#!" class="btn red">Olvide mi contraseña</a>
                </div>
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              </form>
            </div>
            <!-- register -->
            <div id="register">
              <br />
              <form action="{{ url('user:user_login') }}" method="POST">
                <div class="input-field col s12 container">
                  <i class="material-icons prefix">account_box</i>
                  <input type="text" id="username" name="username" placeholder="username" />
                </div>
                <div class="input-field col s12 container">
                  <i class="material-icons prefix">email</i>
                  <input type="email" name="password" placeholder="Correo" />
                </div>
                <div class="input-field col s12 container">
                  <i class="material-icons prefix">lock</i>
                  <input type="password" name="password" placeholder="Contraseña" />
                </div>
                <div class="input-field col s12 container">
                  <i class="material-icons prefix">lock</i>
                  <input type="password" name="password" placeholder="Repetir contraseña" />
                </div>
                <div class="input-field col s12 container">
                  <button type="submit" class="btn purple darken-4">Entrar</button>
                  <a href="#!" class="btn red">Olvide mi contraseña</a>
                </div>
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              </form>
            </div>
            <!-- register -->
          </div>
          <!-- form to user login -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}